.pdf-viewer {
  overflow: auto;
  height: 100%;
  // max-width: 70vw;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-around;
}

.pdf-document {
  display: flex;
  // flex-direction: column;
  justify-content: space-around;
}

.pdf-page {
  margin-top: 15px;
}

.loading-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: gray;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-pdf__Page.pdf-page {
  display: inline-block;
  justify-content: center;
}

.react-pdf__Document {
  line-height: 1;
}

.react-pdf__Page__textContent span {
  opacity: 0.5;
}

.react-pdf__Page__textContent span::selection {
  opacity: 0.5; // !important;
  background-color: rgba(0, 0, 255, 0.5); // !important;
  // color: rgba(0, 0, 255, 0.5); // !important;
  z-index: 100;
}

.react-pdf__Page__canvas {
  max-width: 100%;
}

.react-pdf__Document {
  line-height: initial;
}

// mark {
//   opacity: 0.5;
//   // background: #ff0;
//   // box-shadow: 0px 2px 10px #ff0;
//   color: transparent;
//   white-space: pre;
// }
