.pdf-toolbar-container {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.pdf-toolbar-main-container {
  max-width: 100%;
}

.page-count-label {
  margin-left: 10px;
  width: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
