.bookmarks-area {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.bookmarks-list {
  overflow-y: scroll;
  height: 90%;
}

.add-bookmark-button {
  width: 100%;
  margin-top: auto;
}

.bookmarks-toolbar {
  display: flex;
  justify-content: space-around;
  margin: 8px;
}
