.main-layout {
  height: 100%;
  width: 100%;
  background-color: #eeeeee;
  display: grid;
  grid-template-columns: 250px auto 250px;
  grid-template-rows: 50px auto;
  gap: 0px 0px;
  grid-template-areas:
    'top-bar top-bar top-bar'
    'left-bar middle-space right-bar';
}
