.main-layout {
  height: 100%;
  width: 100%;
  background-color: #eeeeee;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 8% 92%;
  gap: 0px 0px;
  grid-template-areas:
    'top-bar top-bar top-bar'
    'left-bar middle-space right-bar';
}
