.left-bar {
  grid-area: left-bar;
  background-color: #eeeeee;
  // border: 1px solid black;
  max-width: 800px;
  min-width: 200px;
}

.project-controls {
  display: flex;
  justify-content: space-around;
  margin: 8px;
}
