.left-bar {
  // grid-area: left-bar;
  background-color: #eeeeee;
  // border: 1px solid black;
  max-width: 600px;
  min-width: 200px;
  flex-grow: 1;
  z-index: 10;
}

.project-controls {
  display: flex;
  justify-content: space-around;
  margin: 8px;
}
