html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  height: 100%;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}

$color1: #0077b5;
$color2: #000000;
$color3: #f7f7f7;

// button {
//   background-color: $color1;
//   color: $color3;
//   padding: 8px;
//   font-weight: bold;
//   border-radius: 4px;
//   border-style: none;
// }

.btn-icon {
  border: none;
  font-size: 16px;
  cursor: pointer;
}
