.bookmark-item {
  // background-color: #bbbbbb;
  color: black;
  padding: 10px;
  margin: 10px;
  font-size: 10pt;
  border-radius: 10px;
}

.bookmark-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.bookmark-item-edit {
  background-color: #ffffff;
}

.bookmark-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
