.events-area {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.create-new-event-button {
  width: 100%;
  margin-top: auto;
}

.events-list {
  min-height: auto;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 0;
  list-style-type: none;
  overflow-y: auto;

  ul {
    display: block;
    position: relative;
    min-height: 100%;
    margin-bottom: 0;

    &::after {
      content: '';
      background: #d4d9df;
      display: block;
      position: absolute;
      left: 20px;
      top: 0;
      width: 2px;
      z-index: 200;
      height: 100%;
    }

    li {
      margin-bottom: 30px;
      padding-left: 20px;
    }
    li::after {
      content: ' ';
      background: white;
      display: inline-block;
      position: absolute;
      border-radius: 50%;
      border: 3px solid #2492ff;
      margin-top: 13px;
      left: 11px;
      width: 20px;
      height: 20px;
      z-index: 400;
    }

    li:nth-last-child(1) {
      margin-bottom: 0px;
    }
  }
}

.events-toolbar {
  display: flex;
  justify-content: space-around;
  margin: 8px;
}
