.event-edit-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  background-color: #eeeeee;
}

.event-id {
  font-size: 8px;
}

.event-form-dropzone {
  border-color: black;
  border-style: dashed;
  border-width: 2px;
}

.event-form-dropzone > section {
  height: 100%;
}

.event-file {
  // font-size: 12px;
}

.event-files {
}

.set-event {
  display: flex;
  justify-content: flex-start;
}

.control-button {
  margin: 4px;
}
