.event-edit-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  background-color: #eeeeee;
}

.event-id {
  font-size: 8px;
}

.event-form-dropzone {
  border-color: darkgray;
  border-style: solid;
  border-width: 2px;
}

.event-form-dropzone > section {
  height: 100%;
}

.event-description-area {
  margin: 1px;
  padding: 1px;
  width: 400px;
  height: 150px;
}

.event-file {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.event-files {
}

.event-controls {
  display: flex;
  justify-content: space-between;
}

.set-event {
  display: flex;
  justify-content: flex-start;
}

.edit-event-control-button {
  margin: 4px;
}

.delete-event-file-button {
  border: none;
}

.updating-container {
  height: 30px;
  width: 30px;
  margin: 4px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.date-picker {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.event-pdf-file-in-edit {
  color: black;
  cursor: pointer;
}
