.event-item {
  font-size: 10pt;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.event-alert {
  left: -18px;
}

.event-pdf-files {
  display: block;
}

.event-pdf-file {
  color: blue;
  cursor: pointer;
}

.event-dropzone {
  border-color: black;
  border-style: dashed;
  border-width: 2px;
}

.event-header {
  display: flex;
  justify-content: space-between;
}

.event-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

p {
  padding: 0px;
  margin: 0px;
}
