.event-item {
  background-color: #bbbbbb;
  color: black;
  padding: 10px;
  margin: 10px;
  font-size: 10pt;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.event-pdf-files {
  display: block;
}

.event-pdf-file {
  background-color: #bbbbbb;
  color: blue;
  cursor: pointer;
}

.event-dropzone {
  border-color: black;
  border-style: dashed;
  border-width: 2px;
}

.event-header {
  display: flex;
  justify-content: space-between;
}

.event-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

p {
  padding: 0px;
  margin: 0px;
}
